body {
    background-color: rgba(169, 182, 182, 0.637);
}

#principal {
    background-color: azure;
    margin: 10px auto;
    width: 100%px ;
    text-align: center;
    border: 2px solid blue;
}

#imagem {
   text-align: center;
   margin-top: 30px; 
  margin-bottom: 30px;
}

#text {
    text-align: justify;
    margin: 5px;
}


.espaço {
    margin-right: 10px;
}

.menu {
    background-color: azure;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-decoration: none;
    padding: px;
    text-align: center;
    border: 2px solid blue;
}

.ancora {
    font-size: 25px;
    color: black;
    height: 6px;
    padding: 15px;
    margin: 20px;
    text-align: center;  
}

.botao {
    background-color: rgb(182, 235, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 7px;
}

.cont {
    border: 1px outset blue;
    width: 400px;
    margin: 5px;
    background: azure;
    padding: 10px;
    float: left;
  
}


